.container{
  width: 100%;
  
}

.inner-container{
  width: 300px;
  border: 1px solid black;
  margin: 100px auto 0 auto;
  padding: 10px;
  background-color: beige;
}

.input-field{
  width: 90%;
    height: 35px;
    padding-left: 10px;
    outline: none;
   margin-bottom: 10px;
}

.table-heading{
  text-align: left;
}

table{
  border-spacing: 25px 2px;
}


.btn{
  width:100px;
  height:40px;
  font-weight: 700;
  color: white;
  background-color: #003a00;
  margin-bottom: 10px;
}



.btn-grp{
  display: flex;
  flex-direction: row;
  
}